In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Create dataframe with combined dataset
district_data_df = (school_data_complete)
district_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [24]:
# Calculate the number of schools in the DataFrame
school_count = len(district_data_df["school_name"].unique())
print(school_count)

# Calculate the total number of students
student_count = len(district_data_df["Student ID"].unique())
print(student_count)

# Calculate the total budget
budget_total = sum(district_data_df ["budget"].unique())
print(budget_total)

# Calculate the average math score
math_average = district_data_df ["math_score"].mean()
print(math_average)

# Calculate the average reading score
read_average = district_data_df ["reading_score"].mean()
print(read_average)

# Calculate the percentage of students with a passing math score (70 or greater)
math_pass = (district_data_df["math_score"] >= 70).value_counts()
percent_math_pass = ((math_pass/student_count)*100)
print(percent_math_pass)

# Calculate the percentage of students with a passing reading score (70 or greater)
read_pass = (district_data_df["reading_score"] >= 70).value_counts()
percent_read_pass = ((read_pass/student_count)*100)
# print(percent_read_pass)

# # Calculate the percentage of students who passed math and reading (% Overall Passing)
math_read_pass = (district_data_df["reading_score" and "math_score"] >= 70) 
# print(math_read_pass)

count = math_read_pass.value_counts()
print(count)

percent_math_read_pass = ((math_read_pass/student_count)*100)
# print(percent_math_read_pass)

15
39170
24649428
78.98537145774827
81.87784018381414
True     74.980853
False    25.019147
Name: math_score, dtype: float64
True     29370
False     9800
Name: math_score, dtype: int64

In [26]:
# Create a dataframe to hold the above results
summary_dicts = [{"Total Schools" : school_count , 
                  "Total Students" : student_count, 
                  "Total School Budget" : budget_total,
                  "Average Math Score" : math_average, 
                  "Average Reading Score" : read_average,
                  "% Passing Math" : percent_math_pass,
                  "% Passing Reading" : percent_read_pass,
                  "% Overall Passing" : percent_math_read_pass}]
district_summary_df = pd.DataFrame(summary_dicts)
district_summary_df

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,True 74.980853 False 25.019147 Name: ma...,True 85.805463 False 14.194537 Name: re...,0 0.002553 1 0.000000 2 0...

In [ ]:
# SUMMARY BY SCHOOL NAME
# Set new index to School Name
school_types = school_data.set_index(["school_name"])["type"]
school_budget = school_data.set_index(["school_name"])["budget"]
school_budget.head(10)

In [ ]:
# Group district data by school -- run print on each variable
# to check result
grouped_school_df = district_data_df.groupby(["school_name"])
# print(grouped_school_df)

# Getting count of students per school -- run print on each variable
# to check result
students_per_school = grouped_school_df["Student ID"].count().head(10)
# print(students_per_school)

# Getting budget per student per school -- run print on each variable
# to check result
budget_per_student = school_budget/students_per_school
# print(budget_per_student)

#Avg math -- run print on each variable to check result
avg_math_per_school = grouped_school_df["math_score"].mean()
# print(avg_math_per_school)

#Avg reading -- run print on each variable to check result
avg_read_per_school = grouped_school_df["reading_score"].mean()
print(avg_read_per_school)

# #Percent passing math
# percent_math_pass = (grouped_school_df["math_score"] >= 70).value_counts()*100
# print(percent_math_pass)

In [ ]:
school_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": students_per_school,
    "Total School Budget": school_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score": avg_math_per_school,
    "Average Reading Score": avg_read_per_school,
    "Percent Passing Math": percent_math_pass,
    "Percent Passing Reading": percent_read_pass
})
school_df.head()

In [ ]:
# Sort and display the top five performing schools by % overall passing.